.app.dark {
  --bg-color: #022f64;
  --inverted-bg-color: #efeded;


  --primary-color: #509603;
  --secondary-color: #9ee755;
  --inverted-primary-color: #0145a6;
  --inverted-secondary-color: #1b9df3;
}