.app.light {
    --bg-color: #efeded;
    --inverted-bg-color: #022f64;
    --primary-color: #0145a6;
    --secondary-color: #1684cc;
    --inverted-primary-color: #509603;
    --inverted-secondary-color: #9ee755;
}
